<div class="container">
  <h1>~ADDYWEATHER~</h1>
  <%= form_with url: request.path, method: :get, data: { turbo_frame: "_top" } do |form| %>
    <%= form.text_field :q, placeholder: 'enter address' %>
  <% end %>

  <% if @location %>
    <div><%= render "location_header" %></div>
    <div class="daily-forecasts"><%= render partial: "daily_forecast", collection: @forecast.days %></div>
  <% elsif @address.present? %>
    <%= render "location_not_found" %>
  <% end %>
</div>
